.navbar {
  padding: var(--spacing-md) var(--spacing-6xl);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-family: var(--font-family-body);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-solway-bold);
  color: var(--text-subtitle-secondary);
  letter-spacing: var(--letter-spacing-normal);
}

.navContent {
  display: flex;
  align-items: center;
  gap: var(--spacing-xl);
}

.navLinks {
  display: flex;
  align-items: center;
  gap: var(--spacing-xl);
  list-style: none;
}

.navLink {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-sm);
  color: var(--text-body-secondary);
  text-decoration: none;
  padding-bottom: var(--spacing-xs);
  border-bottom: 2px solid transparent;
  transition: color 0.2s ease;
}

.navLink:hover {
  color: var(--text-subtitle-secondary);
}

.navLinkActive {
  composes: navLink;
  /* color: var(--text-subtitle-secondary); */
  border-bottom-color: var(--color-primary-600);
}

.languageSelector {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  background: none;
  border: none;
  cursor: pointer;
  font-family: var(--font-family-heading);
  font-size: var(--font-size-sm);
  color: var(--text-body-secondary);
  padding: 0;
}

.flagIcon {
  width: 24px;
  height: 24px;
}
