*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  scrollbar-width: thin;
}

*::-webkit-scrollbar-track {
  background: transparent;
  background-color: var(--text-body-secondary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--stroke-default);
  border-radius: var(--corner-radius-xs);
  opacity: 0.6;
}

html {
  min-height: 100%;
  /* Improve font rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

main {
  min-height: 100%;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  background-repeat: no-repeat;
  display: block;
  max-width: 100%;
}

button {
  all: unset;
}

#root {
  isolation: isolate; /* Crea un nuevo contexto de apilamiento global */
}
