.responsiveLayout {
  display: flex;
  align-items: flex-start;
  gap: var(--space-8);
  margin-top: var(--space-20);
}

.iphoneVideo {
  height: 40rem;
  flex-shrink: 0;
  border-radius: var(--corner-radius-md);
  object-fit: cover;
}
