.section {
  padding: 0 var(--space-20);
}

.content {
  padding-block: 7.5rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-10);
  container-type: inline-size;
  container-name: project;
}
